@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');
@import './components/styles/knob.scss';
@import './components/styles/sequencer.scss';

html, body, p {
  margin:0;
  padding:0;
  font-family: 'Palanquin Dark', sans-serif;
  background: darkgrey;
}

button {
  font-family: 'Palanquin Dark', sans-serif;
}